numpy==2.3.3
pandas==2.3.2
matplotlib==3.10.6
seaborn==0.13.2
#ydata-profiling==4.12.0 # can be removed from requirements before deployment
plotly==6.3.0
#ppscore==1.1.0 # can be removed from requirements before deployment
streamlit==1.51.0
feature_engine==1.9.3
imbalanced-learn==0.11.0
scikit-learn==1.7.2
xgboost==1.7.6
#yellowbrick==1.5 # can be removed from requirements before deployment
pillow==11.3.0 # can be removed from requirements before deployment